<!DOCTYPE html>

<html>

<head>
  <title>Shoot First</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>
</head>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% elsif %>
<% current_page?(new_user_session_url) %>
<%=  %>
<%else%>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>



  <% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>
<body>




</body>
</html>
