
<header>  
<%= tabs %>
<%= subtabs %>
</header>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


  <center>
    <strong><h1>Breakdown</h1></strong></center>

  <h3><strong><font color ="red">Total Damge Dealt:</font></strong> <%= @combat_parser.total_dmg %></h3>
  <h3><strong><font color = "red">Average Damage Dealt:</font></strong> <%= @combat_parser.average_dmg %></h3>

  <br><center><h3> Total Damage Per Ability </h3></br>
    <%= bar_chart (@combat_parser.ability_totals), :library => {:backgroundColor => "#000"}, :fontColor => "#fff"  %>

  <h3> Average Damage Per Ability </h3>
    <%= bar_chart (@combat_parser.ability_avgs), :library => {:backgroundColor => "#000", :fontColor => "#fff"} %>

  <h3>Percentage of Total Damage per Ability</h3>
    <%= pie_chart (@combat_parser.ability_totals), :library => {:backgroundColor => "#000", :colors => ['yellow', '#1CD2FF', '#0046F7', '#1DF700', 'FF0000', '#FC0FF1', '#0FFCF1'], :fontColor => "#fff"}%> 
  </center>