
<body onload= "if(!/reloaded/.test(window.location.search)) {window.location.replace(window.location.href+'?reloaded=1');}">

   
<%= tabs %>
<%= subtabs %>

<nav align = "right">
<%= link_to 'Home', combat_parsers_path %> |
<%= link_to 'Change Upload', edit_combat_parser_path(@combat_parser) %> |
<%= link_to 'New Upload', new_combat_parser_path %> |
</nav>

  <center><strong><h1>Breakdown</h1></strong></center>

<strong>Total Damge Dealt:</strong> <%= @combat_parser.total_dmg %><br>
<strong>Average Damage Dealt:</strong> <%= @combat_parser.average_dmg %>

<br><center><h3> Total Damage Per Ability </h3></br>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= bar_chart (@combat_parser.ability_totals) %>

<h3> Average Damage Per Ability </h3>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= bar_chart (@combat_parser.ability_avgs) %>

  
<h3>Percentage of Total Damage per Ability</h3>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= pie_chart (@combat_parser.ability_totals), :library => {:colors => ['yellow', '#1CD2FF', '#0046F7', '#1DF700', 'FF0000', '#FC0FF1', '#0FFCF1', ]}%> </center>