
<header>
          </header>

          <nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
<ul class="nav navbar-nav">
    <li><a href="/"><img src="" class="img-responsive" alt="" />Home</a></li>
    <li><a href = "/shoot_first/<%= @combat_parser.id%>"> Parsed Text</a></li>
    <li class = "active"><a href = "/shoot_first/<%= @combat_parser.id%>/breakdown"> Breakdown</a></li>
     </ul>
      </div><!-- /.container-fluid -->
</nav><br/>
<br/>


<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<font color = "#888">
  <center>
    <strong><font color = "#888"><h1>Breakdown</h1></strong></center></font>

  <h3><strong><font color ="red">Total Damge Dealt:</font></strong> <%= @combat_parser.total_dmg %></h3>
  <h3><strong><font color = "red">Average Damage Dealt:</font></strong> <%= @combat_parser.average_dmg %></h3>

  <br><center><h3> <font color = "red">Total Damage Per Ability </font></h3></br>
    <%= bar_chart (@combat_parser.ability_totals), :library => {:backgroundColor => "#000"}, :fontColor => "#fff"  %>

  <h3> <font color = "red">Average Damage Per Ability</font> </h3>
    <%= bar_chart (@combat_parser.ability_avgs), :library => {:backgroundColor => "#000", :fontColor => "#fff"} %>

  <h3><font color = "red">Percentage of Total Damage per Ability</font></h3>
    <%= pie_chart (@combat_parser.ability_totals), :library => {:backgroundColor => "#000", :colors => ['yellow', '#1CD2FF', '#0046F7', '#1DF700', 'FF0000', '#FC0FF1', '#0FFCF1'], :fontColor => "#fff"}%> 
  </center>