
<p id="notice"><%= notice %></p>

  <header>

<%= tabs %>
<%= subtabs %>
</header>


<center><h1><strong>Parsed Combat Text:</strong></h1></center>

 
 <% @combat_parser.output_log_string.each_line do |line| %>
 <br><% if line.include?("healed") %> 
        <font color = "#2EFE2E"><%= line %></font>
       <% elsif line.include?("hit") %>
        <font color = "red"> <%= line %> </font>
        <% elsif line.include?("missed")%>
        <font color = "#00FFFF"><%=line%></font>
        <%else%>
        <%=line%>
 <%end%></br>
 <% end %>



</body>